.container{
    text-align: center;
}
body{
    background-color: black;
    background-size: auto;
    background-position: center;
    color: black;
}
.jumbotron{
    background-color: rgb(245, 43, 168);
}
.well{
    background-image: url(../images/spects.jpg);
}

